body{
	background-color: #F9F9F9;
}
#center{
	height:600px;
	width:862px;
	background-color: white;
	margin: auto;
}
#center table{
	margin: auto;
}
#center1{
	height: 50px;
	text-align: center;
}
#center2{
	height: 90px;
	font-size: 30px;
	text-align: center;
}
#center4 input{
	height: 40px;
	width: 174px;
}
#center6 input{
	height: 40px;
	width: 288px;
}
#input{
	color: white;
	width: 298px;
	height: 50px;
	background-color: #FF6700;
}